@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "ethnocentric";
    src: url("../public/fonts/ethnocentric.otf");
}